body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CD2026;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #92191d;
}

.site-title {
    float: left;
}

.site-title a {
    color: white;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}